<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>#1 UX Contest - Miha Sušnik, betoo.si</title>
    <meta name="description"
          content="Prototip za prvi krog tedenskega UX tekmovanja, ki ga organizira Facebook skupina UX Slovenia.">

    <meta property="og:title" content="#1 UX Contest - Miha Sušnik, betoo.si"/>
    <meta property="og:site_name" content="#1 UX Contest - Miha Sušnik, betoo.si"/>
    <meta property="og:description"
          content="Prototip za prvi krog tedenskega UX tekmovanja, ki ga organizira Facebook skupina UX Slovenia."/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="app">

<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" onclick="location.reload();" href>#1 UX Contest</a>

        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/aweCodeMan/uxContest"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" ng-controller="MainController as MainCtrl">
    <div class="row">
        <div class="col-xs-12 p-a-2 card m-t-1">
            <div ng-if="MainCtrl.showForm">
                <ux-order-form></ux-order-form>
            </div>

            <div ng-if="!MainCtrl.showForm" class="p-a-2 text-xs-center">
                <p class="display-4">Thank you for your order!</p>
            </div>
        </div>
    </div>
</div>


<script src="js/vendor.js"></script>
<script src="js/all.js"></script>
</body>
</html>