<div class="row p-a-1">
    <div class="col-xs-6 ">

        <div class="text-xs-center">

            <input name="quantity" ng-change="step2Ctrl.onQuantityChange()" id="quantity" type="number" ng-model="step2Ctrl.quantity" class="form-control">

            <div class="input-group">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.sub(100)">-100</button>
          </span>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.sub(10)">-10</button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.sub(1)">-1</button>
          </span>
            </div>

            <div class="input-group">

            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.add(1)">+1</button>
          </span>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.add(10)">+10</button>
          </span>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="step2Ctrl.add(100)">+100</button>
          </span>
            </div>
        </div>

    </div>

    <div class="col-xs-6">

        <ux-order-summary></ux-order-summary>

    </div>
</div>
