<div class="row p-a-1">
    <div class="col-xs-6 ">

        <form name="step4Ctrl.confirm" novalidate>

            <label for="discount_code" class="form-control-label">Discount code:</label>

            <div class="input-group">
                <input id="discount_code" name="discount_code" type="text" class="form-control"
                       ng-model="step4Ctrl.confirm.discountCode" ng-model-options="{debounce:200}"
                ng-change="step4Ctrl.onDiscountCodeChange(step4Ctrl.confirm.discountCode)">


                <span class="input-group-addon" ng-if="step4Ctrl.loadingState != 0">
                    <i class="fa fa-refresh spin" ng-if="step4Ctrl.loadingState == 1"></i>
                    <i class="fa fa-check" ng-if="step4Ctrl.loadingState == 2"></i>
                </span>
            </div>


            <div class="text-xs-center m-t-2 m-b-2">
                <button class="btn btn-lg btn-primary" ng-click="step4Ctrl.confirmOrder()">Confirm order</button>
            </div>

        </form>


    </div>

    <div class="col-xs-6">

        <ux-order-summary></ux-order-summary>

    </div>
</div>
